body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-nav h3,
.right-nav a {
    margin-right: 30px;
    color: white;
}

.left-nav {
    display: flex;
}

.right-nav {
    display: flex;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 20px !important;
}

.search-bar input[type="text"] {
    padding: 5px;
    color: black;
    margin-top: 0.5rem;
}

.search-bar-right-nav {
    display: flex;
}

.divider {
    height: 1px;
    background-color: gray;
    width: 95%;
    margin: 0 auto;
}

.search-container {
    position: relative;
    width: 200px;
    margin-right: 2rem;
}

#search-input {
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px !important;
    border-radius: 20px;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.search-container label {
    position: absolute;
    left: 10px;
    top: 45%;
    transform: translateY(-50%);
}

.search-container img {
    width: 20px;
    height: 20px;
}

/* Media queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }

    .left-nav,
    .right-nav {
        justify-content: center;
    }

    .search-bar-right-nav {
        flex-direction: column;
        align-items: center;
    }
}

.left-nav a,
.right-nav a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.left-nav img,
.right-nav img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-left: 5px;
}

.logo-icon {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    margin-right: 0.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 99%;
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #444;
    color: white;
    font-weight: bold;
}

#email-input {
    border-radius: 20px;
    padding: 10px;
    /* Increase padding */
    font-size: 18px;
    /* Increase font size */
    margin-right: 10px;
}

#subscribe-button {
    background-color: #df7e00;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    /* Increase padding */
    font-size: 18px;
    /* Increase font size */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* Add this line */
}

#subscribe-button:hover {
    transform: scale(1.15);
    /* Add this line */
}

.footer-divider {
    height: 3px;
    background-color: #363636;
    width: 100%;
}

a h3:hover {
    color: #df7e00;
}

#search-input {
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px !important;
    border-radius: 20px;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.search-bar input[type="text"] {
    padding: 5px;
    color: black;
    margin-top: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

form label {
    margin-right: 10px;
    font-size: 36px;
    margin-top: 30px;
}

form input[type="text"],
form input[type="password"],
form input[type="submit"] {
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

form input[type="submit"] {
    background-color: #df7e00;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 5%;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: #ff8c00;
    transform: scale(1.15);
}

form p {
    text-align: center;
    margin-top: 20px;
}

form p a {
    color: #df7e00;
    transition: color 0.3s ease-in-out;
}

form p a:hover {
    color: #ff8c00;
}

.center-text {
    text-align: center;
}

.password-container {
    position: relative;
    display: inline-block;
}

.password-container img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: fill 0.3s ease-in-out;
}

.password-container img:hover {
    fill: #ff8c00;
}

.center-text a {
    color: #ff8c00;;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #444;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 25px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.accordion h2 {
    cursor: pointer;
}

.accordion div {
    display: none;
}

.accordion div.active {
    display: block;
}

button.signout-button {
    background-color: #df7e00;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 5%;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 0.5rem;
}

button.signout-button:hover {
    background-color: #ff8c00;
    transform: scale(1.15);
}

.main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #444444;
}
